BasedOnStyle: LLVM
IndentWidth: 4

AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty

NamespaceIndentation: All
ColumnLimit: 120
IndentPPDirectives: BeforeHash
SpaceAfterTemplateKeyword: false
MaxEmptyLinesToKeep: 2
ReflowComments: true
AlignTrailingComments: false
